<ion-header>

  <ion-navbar>
    <ion-title>Back</ion-title> 
    <!--takes the user back to the register page? -->
  </ion-navbar>

</ion-header>


<ion-content center text-center>
  <div class="container">
  <ion-grid>
        <ion-row center>
              <ion-col>
                <h1 no-padding no-margin>SSWHEN</h1>
                <h1></h1>
                <h1 no-padding no-margin>Login</h1>
                    
                <h3 no-padding no-margin></h3>
                
                <form [formGroup]="myForm">
                <!--<form (ngSubmit)="logForm()"> -->
                <ion-card>
                  <ion-card-header>
                    Email Address: 
                  </ion-card-header>
                  <ion-card-content>
                
                  <ion-icon name="mail" float-right></ion-icon>
                       
                  <ion-input 
                  formControlName="email" 
                  type="email" 
                  placeholder="email"
                  ></ion-input>
                  <div *ngIf="!myForm.controls.email.valid && (myForm.controls.email.dirty || submitAttempt)">
                  <p style="color:red">Email Invalid</p>
                  </div>  
                </ion-card-content>
                </ion-card>
               </form>
                
                <form>
                <ion-card>
                  <ion-card-header>
                    Password: 
                  </ion-card-header>
                  <ion-card-content>
                    <ion-icon name="lock" float-right></ion-icon>
                    <ion-input 
                   type="password" 
                    name="Password"
                    placeholder="••••••••••">
                  <div *ngIf="!myForm.controls.password.valid && (myForm.controls.password.dirty || submitAttempt)">
                  <p>Password is invalid</p>
                  </div>
                  </ion-input>
                  </ion-card-content>
                </ion-card>
                </form>
                            
        <!--This button will link to next page:-->
        <button ion-button 
        (click)="popView()"
        type="submit"
         > 
        Login</button> 


                <ion-row justify-content-around>
                   <button ion-button 
                  (click)="sendLink()"
                  type="submit"
                   > 
                  Forgot Password?</button> 
                </ion-row>
           
              </ion-col>
        </ion-row>
  </ion-grid>  
<!--</ion-content>-->
