<ion-header>
  <ion-navbar>
    <ion-title>SSWHEN</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-grid no-padding fixed>
    <ion-row>
      <ion-col>
        <h1 text-center ion-text color="primary"><strong>Login</strong></h1>
        <ion-card>
          <ion-card-content padding-horizontal>
            <form [formGroup]="myForm">
              <ion-list>
                <ion-item no-padding>
                  <ion-label color="secondary" stacked>Email Address:
                    <ion-icon name="mail" float-right></ion-icon>
                  </ion-label>
                  <ion-input no-margin formControlName="email" type="email" placeholder="Email Address"></ion-input>
                </ion-item>
                <div *ngIf="!myForm.controls.email.valid && (myForm.controls.email.dirty || submitAttempt)">
                  <p margin-top ion-text color="danger">Email Invalid</p>
                </div>
                <hr margin-vertical>
                <ion-item no-padding>
                  <ion-label color="secondary" stacked>Password:</ion-label>
                  <ion-input no-margin formControlName="password" type="{{type}}" [(ngModel)]="password" placeholder="••••••••••"></ion-input>
                  <button *ngIf="!showPass" ion-button clear color="dark" type="button" item-right (click)="showPassword()"> <ion-icon name="ios-eye-off-outline"></ion-icon></button>
                  <button *ngIf="showPass" ion-button clear color="dark" type="button" item-right (click)="showPassword()"> <ion-icon name="ios-eye-outline"></ion-icon></button>
                  <ion-icon name="lock" float-right></ion-icon>
                </ion-item>
                <div *ngIf="!myForm.controls.password.valid && (myForm.controls.password.dirty || submitAttempt)">
                  <p margin-top ion-text color="danger">Password is invalid</p>
                </div>
              </ion-list>
            </form>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row align-items-center>
      <ion-col>
        <div *ngIf="this.loading" class="loader">Loading...</div>
      </ion-col>
    </ion-row>

    <h4 *ngIf='isError' ion-text color="danger" text-center>{{errorMessage}}</h4>
    
    <ion-row *ngIf="!this.loading" padding-horizontal>
      <ion-col margin-right>
        <button ion-button icon-end block full (click)="login()" type="submit">
          Login
        </button>
      </ion-col>
      <ion-col margin-left>
        <button ion-button icon-end block full (click)="sendLink()" type="submit">
          Forgot Password?
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
