<ion-header>
  <ion-navbar>
    <ion-title>Register Page</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
<ion-grid>
    <h1 id ="logo">SSWHEN</h1>
    
<!--IONIC CARD CONTAINER-->
    <ion-card>
      <ion-card-content>
          <ion-list>
<!--MARITAL STATUS-->
            <ion-item>
              <ion-label>Marital Status</ion-label>
                 <ion-select [(ngModel)]="maritalStatus">
                  <ion-option value="single">Single</ion-option>
                  <ion-option value="married">Married</ion-option>
                 </ion-select>
             </ion-item>
<!--TOTAL TAX CONTRIBUTION-->
            <!--<form [formGroup] = "registerForm">-->
            <!--  <ion-item>-->
            <!--    <ion-label>Total Tax Contribution: </ion-label>-->
            <!--    <ion-input formControlName="totalTaxContribution" type="text"></ion-input>-->
            <!--    <div *ngIf="!registerForm.controls.totalTaxContribution.valid && (registerForm.controls.totalTaxContribution.dirty || submitAttempt)">-->
            <!--    <p>Please fill in your email</p>-->
            <!--    </div>-->
            <!--  </ion-item>-->
            <!-- </form>-->
<!--EMAIL-->
            <form [formGroup] = "registerForm">
              <ion-item>
                <ion-label>Email: </ion-label>
                <ion-input formControlName="email" type="email"></ion-input>
                <div *ngIf="!registerForm.controls.email.valid && (registerForm.controls.email.dirty || submitAttempt)">
                <p>Please fill in your email</p>
                </div>
              </ion-item>
             <!--</form>-->
<!--PASSWORD-->
            <!--<form [formGroup] = "registerForm">-->
              <ion-item>
                <ion-label>Password: </ion-label>
                <ion-input formControlName="password" type="password"></ion-input>
                <div *ngIf="!registerForm.controls.password.valid && (registerForm.controls.password.dirty || submitAttempt)">
                <p>Please fill in your password</p>
                </div>
              </ion-item>
            </form>
          </ion-list>
  </ion-card-content>
</ion-card>
  
    <!--      <ion-list>-->
     <!--MARITAL STATUS-->
    <!--        <ion-item>-->
    <!--          <ion-label>Marital Status</ion-label>-->
    <!--             <ion-select [(ngModel)]="maritalStatus">-->
    <!--              <ion-option value="single">Single</ion-option>-->
    <!--              <ion-option value="married">Married</ion-option>-->
    <!--             </ion-select>-->
    <!--         </ion-item>-->
     <!--TOTAL TAX CONTRIBUTION-->
    <!--          <ion-item>-->
    <!--            <ion-label floating>Total Tax Contribution</ion-label>-->
    <!--            <ion-input type="text" [(ngModel)]="totalTaxContribution"></ion-input>-->
    <!--          </ion-item>-->
     <!--EMAIL-->
    <!--        <ion-item>-->
    <!--            <ion-label floating>Email</ion-label>-->
    <!--            <ion-input type="text" [(ngModel)]="email"></ion-input>-->
    <!--         </ion-item>-->
    <!--CONFIRM EMAIL-->
    <!--          <ion-item>-->
    <!--            <ion-label floating>Confirm Email</ion-label>-->
    <!--            <ion-input type="text"></ion-input>-->
    <!--          </ion-item>-->
    <!--PASSWORD-->
    <!--          <ion-item>-->
    <!--            <ion-label floating>Password</ion-label>-->
    <!--            <ion-input type="password" [(ngModel)]="password"></ion-input>-->
    <!--          </ion-item>-->
              
    <!--CONFIRM PASSWORD-->
    <!--          <ion-item>-->
    <!--            <ion-label floating>Confirm Password</ion-label>-->
    <!--            <ion-input type="password"></ion-input>-->
    <!--          </ion-item>-->
    <!--</ion-list>-->

 <!--ION BUTTON-->
<ion-row justify-content-center>
    <button ion-button (click)='submit()'>Register</button>
</ion-row>

</ion-grid>
</ion-content>
