<ion-header>
    <ion-navbar>
        <ion-title>Registration</ion-title>
    </ion-navbar>
</ion-header>


<ion-content padding>
    <ion-grid>
        <h1 id="logo">SSWHEN</h1>

        <!--IONIC CARD CONTAINER-->
        <ion-card>
            <ion-card-content>
                <form [formGroup]="registerForm">
                    <ion-list>
                        <!--MARITAL STATUS-->
                        <ion-item>
                            <ion-label floating>Marital Status</ion-label>
                            <ion-select formControlName="maritalStatus" [(ngModel)]="maritalStatus">
                                <ion-option value="'single'">Single</ion-option>
                                <ion-option value="'married'">Married</ion-option>
                            </ion-select>
                        </ion-item>
                        <div *ngIf='!registerForm.controls.maritalStatus.valid && submitAttempt'>
                                <h4 text-center>Please Enter Marital Status</h4>
                        </div>
                        <!--TOTAL TAX CONTRIBUTION-->
                        <ion-item>
                            <ion-label floating>Total Tax Contribution: </ion-label>
                            <ion-input formControlName="totalTaxContribution" type="number" [(ngModel)]="totalTaxContribution"></ion-input>
                        </ion-item>
                        <div *ngIf="!registerForm.controls.totalTaxContribution.valid && (registerForm.controls.totalTaxContribution.dirty || submitAttempt)">
                            <h4 text-center>Please Enter Tax Contribution</h4>
                        </div>
                        <!--EMAIL-->
                        <ion-item>
                            <ion-label floating>Email: </ion-label>
                            <ion-input formControlName="email" type="email" [(ngModel)]="email"></ion-input>
                        </ion-item>
                        <div *ngIf="!registerForm.controls.email.valid && (registerForm.controls.email.dirty || submitAttempt)">
                            <h4 text-center>Please Enter a Valid Email</h4>
                        </div>
                        <!--PASSWORD-->
                        <ion-item>
                            <ion-label floating>Password: </ion-label>
                            <ion-input formControlName="password" type="password" [(ngModel)]="password"></ion-input>
                        </ion-item>
                        <div *ngIf="!registerForm.controls.password.valid && (submitAttempt)">
                            <h4 text-center>Please Enter a Valid Password</h4>
                        </div> 
                        
                        <div *ngIf="registerForm.controls.password.hasError('required') && (registerForm.controls.password.touched || submitAttempt)">
                            <h4 text-center>You must enter a password</h4>
                        </div> 
                        
                        <div *ngIf="registerForm.controls.password.hasError('pattern') && (registerForm.controls.password.dirty || submitAttempt)">
                            <h4 text-center>password must contain 1 number (0-9)</h4>
                            <h4 text-center>password must contain 1 uppercase letters</h4>
                            <h4 text-center>password must contain 1 lowercase letters</h4>
                            <h4 text-center>password must contain 1 non-alpha numeric number (!@#$)</h4>
                            <h4 text-center>password must be between 6 and 12 characters long</h4>
                        </div> 
                        
                        <div *ngIf='isError'>
                            <h4 text-center>{{errorMessage}}</h4>
                        </div>
                        <!--CONFIRM PASSWORD-->
                        <!--<ion-item>-->
                        <!--    <ion-label floating>Confirm Password: </ion-label>-->
                        <!--    <p>Please fill in your password</p>-->
                        <!-- </ion-item>-->
                    </ion-list>
                </form>
            </ion-card-content>
        </ion-card>

        <!--ION BUTTON-->
        <ion-row justify-content-center>
            <button ion-button (click)='submit()'>Register</button>
        </ion-row>

    </ion-grid>
</ion-content>
