
<ion-header>
  <ion-toolbar>
    <ion-title>Modal Popup</ion-title>
    <ion-buttons start>
      <button ion-button (click)="dismiss()"><span ion-text color="primary" showWhen="ios, browser">Cancel</span>
        <ion-icon name="md-close" showWhen="android,windows"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid no-padding>
    <ion-row align-items-center no-padding>
      <ion-col>
        <ion-card>
          <ion-card-content padding-horizontal>
            <ion-row>
              <ion-col>
                <h2>Data Table</h2>
                <h2>Chart type: {{chartType}}</h2>
              </ion-col>
            </ion-row>

            <div *ngIf="chartType == 'monthly'">
                <page-data-table 
                  [leftCol]="retYears"
                  [leftColTitle] = "leftTitle"
                  [rightCol]="tableMonthly"
                  [rightColTitle]="rightTitleMonthly"
                ></page-data-table>
            </div>

            <div *ngIf="chartType == 'cumulative'">
                <page-data-table 
                  [leftCol]="retYears"
                  [leftColTitle] = "leftTitle"
                  [rightCol]="totalAccumulated"
                  [rightColTitle]="rightTitleCumulative"
                ></page-data-table>
            </div>

          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
