
<button ion-button clear (click)="dismiss()">Back</button>

<div *ngIf="chartType == monthly">
    <page-data-table 
      [leftCol]="retYears"
      [leftColTitle] = "leftTitle"
      [rightCol]="tableMonthly"
      [rightColTitle]="rightTitleMonthly"
    ></page-data-table>
</div>

<div *ngIf="chartType == cumulative">
    <page-data-table 
      [leftCol]="retYears"
      [leftColTitle] = "leftTitle"
      [rightCol]="totalAccumulated"
      [rightColTitle]="rightTitleCumulative"
    ></page-data-table>
</div>

