<!-- Generated template for the LangaugePopoverComponent component -->

<ion-grid padding>
  <ion-row align-items-start>
    <ion-col>
      <strong>Font Size:</strong>
    </ion-col>
  </ion-row>
  <ion-row no-padding>
    <ion-col>
      <button (click)="changeFontSize('smaller')" ion-item detail-none class="popover-text-button popover-text-smaller font-smaller">A</button>
    </ion-col>
    <ion-col>
      <button (click)="changeFontSize('larger')" ion-item detail-none class="popover-text-button popover-text-larger font-larger">A</button>
    </ion-col>
  </ion-row>
</ion-grid>
