.account-popover .popover-content {
  max-width: 200px;
}

page-dashboard {

  .btn-smaller {
    transform: scale(0.7);
  }

  .table {
    margin: 5%;
  }

  .header .table-col {
    background-color:lightgrey;
  }

  .table-col {
    border: solid 1px grey;
    border-bottom-style: none;
    border-right-style: none;
  }

  .table-col:last-child {
    border-right: solid 1px grey;
  }

  .table-row:last-child .table-col {
    border-bottom: solid 1px grey;
  }

  .menu-full-width { width: 100%; }
  .menu-last .item .item-inner { border-bottom: 0px solid #fff; }
}