<!--
  Generated template for the DashboardPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
--><!--<ion-header>
  <ion-navbar>
    <ion-title>Dashboard</ion-title>
  </ion-navbar>
</ion-header>-->


<ion-content padding>

  <ion-grid>
    <ion-row align-items-center>
      <ion-col align-self-end>
        <h1>SSWhen</h1>
      </ion-col>
      <ion-col>
        <button ion-button float-end color="light" icon-left (click)="presentPopover()">
          <ion-icon name="person"></ion-icon>
          <ion-icon md="md-arrow-dropdown"></ion-icon>
        </button>
      </ion-col>
    </ion-row>

    <ion-row align-items-center>
      <ion-col>
        <ion-card>
          <ion-card-content>
            <ion-row align-items-center>
              <ion-col>
                <h2>User Information</h2>
              </ion-col>
              <ion-col>
                <button style="vertical-align: top;" class="btn-smaller" ion-button icon-only float-end color="dark" on-click="isEditable()">
                  <ion-icon md="md-create"></ion-icon>
                </button>
              </ion-col>
            </ion-row>
            <ion-row align-items-start>
              <ion-col>
                <div><strong>Email:</strong></div>
                <div>email@email.com</div>
                <ion-item *ngIf="editable">
                  <ion-label floating>Full Name</ion-label>
                  <ion-input type="text"></ion-input>
                </ion-item>
              </ion-col>
            </ion-row>
            <ion-row align-items-start>
              <ion-col>
                <div><strong>Life Expectancy:</strong></div>
                <div>62</div>
                <ion-item *ngIf="editable">
                  <ion-label floating>Life Expectancy</ion-label>
                  <ion-input type="text"></ion-input>
                </ion-item>
              </ion-col>
              <ion-col align-items-end>
                <div><strong>FRA Age:</strong></div>
                <div>65</div>
                <ion-item *ngIf="editable">
                  <ion-label floating>FRA Age</ion-label>
                  <ion-input type="text"></ion-input>
                </ion-item>
              </ion-col>
            </ion-row>
            <ion-row align-items-start>
              <ion-col>
                <div><strong>FRA Benefit Amount:</strong></div>
                <div>$1,080</div>
                <ion-item *ngIf="editable">
                  <ion-label floating>FRA Benefit Amount</ion-label>
                  <ion-input type="text"></ion-input>
                </ion-item>
              </ion-col>
            </ion-row>
            <ion-row align-items-center>
              <ion-col>
                <div><strong>Total Tax Contribution:</strong></div>
                <div>$40,110</div>
                <ion-item *ngIf="editable">
                  <ion-label floating>Total Tax Contribution</ion-label>
                  <ion-input type="text"></ion-input>
                </ion-item>
              </ion-col>
            </ion-row>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row align-items-center>
      <ion-col>
        <ion-card>
          <ion-card-content>
            <div padding>
              <ion-segment [(ngModel)]="data">
                <ion-segment-button value="monthly">
                  Monthly
                </ion-segment-button>
                <ion-segment-button value="cumulative">
                  Cumulative
                </ion-segment-button>
                <ion-segment-button value="other">
                  Other
                </ion-segment-button>
              </ion-segment>
            </div>

            <div [ngSwitch]="data">
              <ion-list *ngSwitchCase="'monthly'">
                <ion-row>
                  <ion-col col-8>
                    <p>Monthly Contributions</p>
                  </ion-col>
                  <ion-col col-4>
                    <span (click)="presentModal()" float-end color="primary">View Table</span>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col>
                    <img src="../../assets/imgs/logo.png">
                  </ion-col>
                </ion-row>
              </ion-list>

              <ion-list *ngSwitchCase="'cumulative'">
                <ion-row>
                  <ion-col col-8>
                    <p>Cumulative Contributions</p>
                  </ion-col>
                  <ion-col col-4>
                    <span (click)="presentModal()" float-end color="primary">View Table</span>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col>
                    <img src="../../assets/imgs/logo.png">
                  </ion-col>
                </ion-row>
              </ion-list>

              <ion-list *ngSwitchCase="'other'">
                <ion-row>
                  <ion-col col-8>
                    <p>Other Contributions</p>
                  </ion-col>
                  <ion-col col-4>
                    <span (click)="presentModal()" float-end color="primary">View Table</span>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col>
                    <img src="../../assets/imgs/logo.png">
                  </ion-col>
                </ion-row>
              </ion-list>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!--<ion-grid>-->

  <!--  <dropdown-menu>-->
  <!--    Account-->
  <!--    Logout-->
  <!--  </dropdown-menu>-->

  <!--  <ion-card>-->
  <!--    User Info Card-->
  <!--    Edit link/button-->
  <!--  </ion-card>-->

  <!--  <ion-segments>-->

  <!--    <ion-segment>-->
  <!--      Monthly Chart-->
  <!--      View Table button-->
  <!--      ? helper - chart description-->

  <!--      <ion-modal>-->
  <!--        Data Table-->
  <!--      </ion-modal>-->

  <!--    </ion-segment>-->

  <!--    <ion-segment>-->
  <!--      Cumulative Chart-->
  <!--      View Table button-->
  <!--      ? helper - chart description-->

  <!--      <ion-modal>-->
  <!--        Data Table-->
  <!--      </ion-modal>-->

  <!--    </ion-segment>-->


  <!--  </ion-segments>-->

  <!--</ion-grid>-->

</ion-content>
