<ion-header>
  <ion-navbar hideBackButton="true">
    <ion-title>SSWhen</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="presentLanguagePopover($event)">
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-grid no-padding>
    <ion-row align-items-center padding-horizontal>
      <ion-col align-self-start>
        <h1 ion-text color="primary"><strong>Dashboard</strong></h1>
      </ion-col>
      <ion-col align-self-end>
        <button ion-button float-end color="light" icon-end (click)="presentAccountPopover($event)">
          <ion-icon name="person"></ion-icon>
          <ion-icon name="arrow-dropdown"></ion-icon>
        </button>
      </ion-col>
    </ion-row>

    <ion-row align-items-center no-padding>
      <ion-col>
        <ion-card>
          <ion-card-content padding-horizontal>
            <ion-row align-items-center>
              <ion-col>
                <h2 ion-text color="primary" #changeText>User Information</h2>
              </ion-col>
              <ion-col>
                <button style="vertical-align: top;" class="btn-smaller" ion-button icon-only float-end color="dark" (click)="isEditable()">
                  <ion-icon name="create"></ion-icon>
                </button>
              </ion-col>
            </ion-row>
            <ion-row align-items-start>
              <ion-col *ngIf="!editable">
                <div #changeText><strong>Life Expectancy:</strong></div>
                <div #changeText>{{lifeExpectancy}}</div>
              </ion-col>
              <ion-col *ngIf="editable">
                <ion-label #changeText><strong>Life Expectancy:</strong></ion-label>
                <ion-input #changeText type="text" placeholder="{{lifeExpectancy}}"></ion-input>
              </ion-col>
              <ion-col *ngIf="!editable">
                <div #changeText><strong>FRA Age:</strong></div>
                <div #changeText>{{ageFRA}}</div>
              </ion-col>
              <ion-col *ngIf="editable">
                <ion-label #changeText><strong>FRA Age</strong></ion-label>
                <ion-input #changeText type="text" placeholder="{{ageFRA}}"></ion-input>
              </ion-col>
            </ion-row>
            <ion-row align-items-start>
              <ion-col *ngIf="!editable">
                <div #changeText><strong>FRA Benefit Amount:</strong></div>
                <div #changeText>{{benefitAtFRA}}</div>
              </ion-col>
              <ion-col *ngIf="editable">
                <ion-label #changeText><strong>FRA Benefit Amount</strong></ion-label>
                <ion-input #changeText type="text" placeholder="{{benefitAtFRA}}"></ion-input>
              </ion-col>
              <ion-col *ngIf="!editable">
                <div #changeText><strong>Total Tax Contribution:</strong></div>
                <div #changeText>{{totalContribution}}</div>
              </ion-col>
              <ion-col *ngIf="editable">
                <ion-label #changeText><strong>Total Tax Contribution</strong></ion-label>
                <ion-input #changeText type="text" placeholder="{{totalContribution}}"></ion-input>
              </ion-col>
            </ion-row>
            <ion-row *ngIf="editable">
              <ion-col>
                <button ion-button icon-start block full #changeText (click)="isEditable()">
                  <ion-icon name="checkbox"></ion-icon>
                  Save Edits
                </button>
              </ion-col>
            </ion-row>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row align-items-center no-padding>
      <ion-col>
        <ion-card>
          <ion-card-content padding-horizontal>
            <div>
              <ion-segment [(ngModel)]="data">
                <ion-segment-button value="monthly">
                  Monthly
                </ion-segment-button>
                <ion-segment-button value="cumulative">
                  Cumulative
                </ion-segment-button>
              </ion-segment>
            </div>

            <div [ngSwitch]="data">
              <ion-list *ngSwitchCase="'monthly'">
                <ion-row padding-top>
                  <ion-col col-8>
                    <p #changeText text-left>Monthly Benefit</p>
                  </ion-col>
                  <ion-col col-4>
                    <a (click)="presentModal('monthly')" float-end color="primary" #changeText>View Table</a>
                  </ion-col>
                </ion-row>
                <charts *ngIf="monthlyPay" [ChartType]="chartType" [xAxis]="retYears" [yAxis]="monthlyPay"></charts>
              </ion-list>

              <ion-list *ngSwitchCase="'cumulative'">
                <ion-row padding-top>
                  <ion-col col-8>
                    <p #changeText text-left>Cumulative Benefits</p>
                  </ion-col>
                  <ion-col col-4>
                    <a (click)="presentModal('cumulative')" float-end color="primary" #changeText>View Table</a>
                  </ion-col>
                </ion-row>
                <charts *ngIf="totalAccumulated" [ChartType]="chartType" [xAxis]="retYears" [yAxis]="totalAccumulated"></charts>
              </ion-list>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row padding-horizontal margin-bottom>
      <ion-col>
        <button ion-button icon-start block full (click)="showPrompt()" #changeText>
          <ion-icon name="send"></ion-icon>
          Email Result
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
