
<ion-header>

  <ion-navbar text-center>
    <ion-title>infoInputPage</ion-title>
  </ion-navbar>
  
  <ion-grid>
  <ion-row align-items-center>
    <ion-col style = "margin: 0 auto">
      <img src="https://preview.ibb.co/c39yyb/Senior_Security.jpg">
    </ion-col>
  </ion-row>
</ion-grid>

</ion-header>


<ion-content padding>
  <h3 text-center> <ion-icon name="arrow-round-down"></ion-icon> Please Enter Your Information  <ion-icon name="arrow-round-down"></ion-icon> </h3>
  
  <h1>  {{ user$.start}} </h1>
  
    <form>
      <ion-list>
        
      <form [formGroup]='myForm'>
         <ion-item text-center>
          <ion-label floating>Date of Birth</ion-label>
          <ion-datetime displayFormat="MM/YYYY" formControlName="birthDate"></ion-datetime>
        </ion-item>
        
        <div *ngIf='!myForm.controls.birthDate.valid && submitAttempt'>
            <h3 text-center>Please Enter Date of Birth</h3>
        </div>
        
        <!--<ion-item text-center>-->
        <!--  <ion-label floating>Gender</ion-label>-->
        <!--  <ion-select formControlName="gender">-->
        <!--    <ion-option value="f">Female</ion-option>-->
        <!--    <ion-option value="m">Male</ion-option>-->
        <!--  </ion-select>-->
        <!--</ion-item>-->
        <!--<div *ngIf='!myForm.controls.gender.valid && submitAttempt'>-->
        <!--    <h3 text-center>Please Enter Date of Birth</h3>-->
        <!--</div>-->
        
        <!--<ion-item>-->
        <!--  <ion-label floating>Full Retirement Benefit</ion-label>-->
        <!--  <ion-input type="number" formControlName="fra" text-center></ion-input>-->
        <!--</ion-item>-->
        <!--<div *ngIf='!myForm.controls.birthDate.valid && submitAttempt'>-->
        <!--    <h3 text-center>Please Enter Date of Birth</h3>-->
        <!--</div>-->
      </form>
        
      </ion-list>
      
      <ion-grid>
        <ion-row>
          <ion-col width-4>
            <button ion-button  (click)='onSubmit()' block>Submit</button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>

</ion-content>