page-app-description {
    
    button.customBtn {
        height:20px;
        width:20px;
        vertical-align:baseline;
        overflow: hidden;
    }
    
    scroll-content {
    overflow-y: auto !important;
    }

}
