<ion-header>
  <ion-toolbar>
    <ion-title> Modal Popup</ion-title>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        <ion-icon name="close-circle"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
<ion-grid no-padding>
  <ion-row align-items-center no-padding>
    <ion-col>
      <ion-card>
        <ion-card-content padding-horizontal>
          <div>
            <ion-segment [(ngModel)]="data">
              <ion-segment-button value="monthly">
                Monthly
              </ion-segment-button>
              <ion-segment-button value="cumulative">
                Cumulative
              </ion-segment-button>
              <!--<ion-segment-button value="other">-->
              <!--  Other-->
              <!--</ion-segment-button>-->
            </ion-segment>
          </div>

          <div [ngSwitch]="data">
            <ion-list *ngSwitchCase="'monthly'">
              <ion-row padding-top>
                <ion-col>
                  <h4 #changeText>Monthly Contributions</h4>
                </ion-col>
              </ion-row>
              <ion-row no-padding>
                <ion-col *ngIf="monthlyPay">
                  <charts [ChartType]="chartType" [xAxis]="retYears" [yAxis]="monthlyPay"></charts>
                </ion-col>
              </ion-row>
              <ion-row padding-top>
                <ion-col>
                  <h4 #changeText>Data Table:</h4>
                </ion-col>
              </ion-row>
              <ion-row no-padding>
                <ion-col>
                  <page-data-table 
                    [leftCol]="retYears"
                    [rightCol]="tableMonthly"
                    ></page-data-table>
                </ion-col>
              </ion-row>
            </ion-list>

            <ion-list *ngSwitchCase="'cumulative'">
              <ion-row padding-top>
                <ion-col>
                  <p #changeText>Cumulative Contributions</p>
                </ion-col>
              </ion-row>
              <ion-row no-padding>
                <ion-col *ngIf="cumulative">
                  <charts [ChartType]="chartType" [xAxis]="retYears" [yAxis]="totalAccumulated"></charts>
                </ion-col>
              </ion-row>
              <ion-row no-padding>
                <ion-col>
                  <page-data-table 
                    [leftCol]="retYears"
                    [rightCol]="tableTotalAccumulated"
                    ></page-data-table>
                </ion-col>
              </ion-row>
            </ion-list>

            <!--<ion-list *ngSwitchCase="'other'">-->
            <!--  <ion-row padding-top>-->
            <!--    <ion-col>-->
            <!--      <p #changeText>Other Contributions</p>-->
            <!--    </ion-col>-->
            <!--  </ion-row>-->
            <!--  <ion-row no-padding>-->
            <!--    <ion-col>-->
            <!--      <img src="../../assets/imgs/logo.png">-->
            <!--    </ion-col>-->
            <!--  </ion-row>-->
            <!--  <ion-row no-padding>-->
            <!--    <ion-col>-->
            <!--      <div class="table">-->
            <!--        <div class="table-row row header">-->
            <!--          <div class="table-col col">Header 1</div>-->
            <!--          <div class="table-col col">Header 2</div>-->
            <!--          <div class="table-col col">Header 3</div>-->
            <!--          <div class="table-col col">Header 4</div>-->
            <!--        </div>-->
            <!--        <div class="table-row row">-->
            <!--          <div class="table-col col">1</div>-->
            <!--          <div class="table-col col">2</div>-->
            <!--          <div class="table-col col">3</div>-->
            <!--          <div class="table-col col">4</div>-->
            <!--        </div>-->
            <!--        <div class="table-row row">-->
            <!--          <div class="table-col col">1</div>-->
            <!--          <div class="table-col col">2</div>-->
            <!--          <div class="table-col col">3</div>-->
            <!--          <div class="table-col col">4</div>-->
            <!--        </div>-->
            <!--        <div class="table-row row">-->
            <!--          <div class="table-col col">1</div>-->
            <!--          <div class="table-col col">2</div>-->
            <!--          <div class="table-col col">3</div>-->
            <!--          <div class="table-col col">4</div>-->
            <!--        </div>-->
            <!--      </div>-->
            <!--    </ion-col>-->
            <!--  </ion-row>-->
            <!--</ion-list>-->
          </div>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
  <ion-row padding-horizontal>
    <ion-col>
      <button ion-button icon-start block full (click)="showPrompt()" #changeText><ion-icon name="send"></ion-icon> Email Result</button>
    </ion-col>
  </ion-row>
</ion-grid>
</ion-content>