<ion-header>
  <ion-toolbar>
    <ion-title> Prior Results</ion-title>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        <ion-icon name="close-circle"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-grid no-padding>
  <ion-row align-items-center no-padding>
    <ion-col>
      <ion-card>
        <ion-card-content padding-horizontal>
          
          <div>
            <ion-segment [(ngModel)]="data">
              <ion-segment-button value="monthly">
                Monthly
              </ion-segment-button>
              <ion-segment-button value="cumulative">
                Cumulative
              </ion-segment-button>
              <!--<ion-segment-button value="other">-->
              <!--  Other-->
              <!--</ion-segment-button>-->
            </ion-segment>
          </div>

          <div [ngSwitch]="data">
            
            <ion-list *ngSwitchCase="'monthly'">
              <ion-row padding-top>
                <ion-col>
                  <h4 #changeText>Monthly Contributions</h4>
                </ion-col>
              </ion-row>
              <ion-row no-padding>
                <ion-col>
                  <charts [ChartType]="chartType" [xAxis]="retYears" [yAxis]="monthlyPay"></charts>
                </ion-col>
              </ion-row>
              <ion-row padding-top>
                <ion-col>
                  <h4 #changeText>Data Table:</h4>
                </ion-col>
              </ion-row>
              <ion-row no-padding>
                <ion-col>
                  <page-data-table 
                    [leftCol]="retYears"
                    [leftColTitle] = "leftTitle"
                    [rightCol]="tableMonthly"
                    [rightColTitle] = "rightTitleMonthly"
                    ></page-data-table>
                </ion-col>
              </ion-row>
            </ion-list>

            <ion-list *ngSwitchCase="'cumulative'">
              <ion-row padding-top>
                <ion-col>
                  <p #changeText>Cumulative Contributions</p>
                </ion-col>
              </ion-row>
              <ion-row no-padding>
                <ion-col>
                  <charts [ChartType]="chartType" [xAxis]="retYears" [yAxis]="totalAccumulated"></charts>
                </ion-col>
              </ion-row>
              <ion-row no-padding>
                <ion-col>
                  <page-data-table 
                    [leftCol]="retYears"
                    [leftColTitle] = "leftTitle"
                    [rightCol]="tableTotalAccumulated"
                    [rightColTitle] = "rightTitleCumulative"
                    ></page-data-table>
                </ion-col>
              </ion-row>
            </ion-list>
            
          </div>
          
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
  
  <ion-row padding-horizontal>
    <ion-col>
      <button ion-button icon-start block full (click)="showPrompt()" #changeText><ion-icon name="send"></ion-icon> Email Result</button>
    </ion-col>
  </ion-row>
  
</ion-grid>
</ion-content>