modal-history {
    .header .table-col {
      background-color:lightgrey;
    }

    .table-col {
      border: solid 1px grey;
      border-bottom-style: none;
      border-right-style: none;
    }

    .table-col:last-child {
      border-right: solid 1px grey;
    }

    .table-row:last-child .table-col {
      border-bottom: solid 1px grey;
    }

}
